*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.tgz

.idea/
.vscode/
.sass-cache/
.versions/
coverage/
collection/
dist/
dist-transpiled/
node_modules/
tmp/
temp/
core/theme-builder/
core/test-components/
core/css/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

src/themes/version.scss
scripts/e2e/webpackEntryPoints.json
scripts/build/e2e-generated-tsconfig.json
*.css.ts

stats.json


# stencil
packages/core/components/
packages/core/css/
packages/core/hydrate/
packages/core/loader/
.stencil/

# turbo
.turbo

.rollup.cache
stats.html
.eslintcache

#swap
swap
target
